/SystemInfoOrangePi/nbproject/private/
/SystemInfoOrangePi/build/
/SystemInfoOrangePi/dist/
/TesteComunicaoSerial/TestGuage/build/
/TesteComunicaoSerial/TestGuage/nbproject/private/
/TestGuage/build/
/TestGuage/nbproject/private/