/SystemInfoOrangePi/nbproject/private/
/SystemInfoOrangePi/build/
/SystemInfoOrangePi/dist/
/TesteComunicaoSerial/TestGuage/build/
/TesteComunicaoSerial/TestGuage/nbproject/private/
/TestGuage/build/
/TestGuage/nbproject/private/
/Sistema_Monitor/dist/
/SPI_RFID/nbproject/private/
/SPI_RFID/dist/
/SPI_RFID/build/
/Sistema_monitor_EXT/nbproject/private/
/Sistema_monitor_EXT/build/
/Sistema_monitor_EXT/dist/
/ConnectionDatabase/build/
/ConnectionDatabase/nbproject/private/
/ConnectionDatabase/dist/
/GeradorRelatorioIndisponibilidadeManutencao/nbproject/private/
/GeradorRelatorioIndisponibilidadeManutencao/dist/
/GeradorRelatorioIndisponibilidadeManutencao/build/